body {
  font-family: poppins;
  background-color: #272044;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-family: poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  text-align: center;
  margin: 30px 0;
}
h2 {
  font-family: poppins;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0 auto;
}

h3 {
  font-family: poppins;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  margin: 0 auto;
}
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../images/London.pic.png);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: inherit;
  padding: 200px 0;
  margin: 0 auto;
}
.header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  color: #272044;
  padding: 16px 32px;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
main section {
  background-color: white;
  padding: inherit;
  padding: 100px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;

  color: #272844;
  margin: 0;
}
main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #272844;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

section {
  max-width: 100%;
  padding: 100px;
  margin: 0 auto;
}

section.secondary {
  background: #f8f8f8;
}
.text-center {
  text-align: center;
}
.gherkin {
  max-width: 5000px;
  max-height: 500px;
  display: block;
}
.img-responsive {
  width: 100%;
  display: block;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  background: white;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}
.card-header.grid {
  grid-gap: 0;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}

.embed {
  width: 100%;
  aspect-ratio: 21 / 14;
}

.instagram-embed {
  margin: 30px 0;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/London.pic2.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  padding: 100px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
  text-align: left;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

footer a {
  color: white;
  opacity: 0.7;
}
@media (max-width: 960px) {
  header {
    padding: 50px 0;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  main h3 {
    font-size: 25px;
    text-align: center;
  }
  footer {
    padding: 50px;
  }
  .grid {
    grid-template-columns: 1fr;
    padding: 0px;
  }
  .grid-2-columns {
    grid-template-columns: 1fr;
  }

  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16 / 9;
  }
}
