body {
  font-family: poppins;
  background-color: #272044;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-family: poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  text-align: center;
  margin: 30px 0;
}
h2 {
  font-family: poppins;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0 auto;
}

h3 {
  font-family: poppins;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  margin: 0 auto;
}
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../images/London.pic.png);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: inherit;
  padding: 200px 0;
  margin: 0 auto;
}
.header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  color: #272044;
  padding: 16px 32px;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}
footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../images/London.pic2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  margin-right: 20px;
  line-height: 24px;
  text-align: left;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

footer a {
  color: white;
  opacity: 0.7;
}
@media (max-width: 960px) {
  header {
    padding: 50px 0;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
}
